*.code_workspace
*.o
*.prefs
*.mxproject
*.elf
*.list
*.map
.cproject
Debug/micro_tang.elf
Debug/micro_tang.list
Debug/micro_tang.map
Debug/Core/Src/main.cyclo
Debug/Core/Src/main.o
Debug/Core/Src/main.su
